
    <h2>Multiplication Table</h2>
    <button id="setTableSizeButton">Set Table Size</button>
    <div id="tableDiv">
        <script src="tabelka.js"></script>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam magnam nisi, iusto, ipsa voluptate tempore voluptatem sint ipsam dolorum voluptates beatae explicabo voluptas suscipit. Sequi aspernatur magni eius soluta iusto?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit harum quam natus sunt excepturi. Repellat, laborum veniam odio accusantium id eum laudantium tempora ut quibusdam rem ducimus velit ullam quos.</p>
    <canvas class="canvas" width="300" height="300"></canvas>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis iste saepe ex, modi labore blanditiis, quidem rem cumque facere autem magni ducimus iure fuga quis nam. Temporibus, ad corporis. Placeat.</p>
    <p><canvas class="canvas" width="500" height="700"></canvas></p>
    <script src="C:\Users\jansk\source\repos\l5zad3\l5zad3\wwwroot\js\canva.js"></script>
